<nav class="main-nav">
    <ul>
        <li><a href="#" title="Visit home page">Home</a></li>
        <li><a href="#" title="Visit custom page">Custom</a></li>
        <li><a href="#" title="Visit sedan page">Sedan</a></li>
        <li><a href="#" title="Visit SUV page">SUV</a></li>
        <li><a href="#" title="Visit truck page">Truck</a></li>
    </ul>
</nav>